* {
  margin: 0;
  padding: 0;
}

video {
  border: solid 1px red;
  height: 180px;
  width: 320px;
}

#localVideo {
  position: fixed;
  bottom: 0;
  right: 0;
}

#spanName {
  color: blue;
}

#remoteVideos {

}

#remoteVideos video {
  float: left;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.blue {
  background-color: blue;
}

